.header__link:first-child a {
  color: #fff;
}

.first {
  margin-top: 62px;
}
.first > * {
  display: flex;
  justify-content: space-between;
}
.first__info {
  margin-top: 80px;
  width: 60%;
}
.first__header {
  font-weight: 600;
  font-size: 32px;
  line-height: 40px;
  margin-right: 20px;
}
.first__header span {
  color: #C778DD;
}
.first__paragraf {
  margin-top: 40px;
  max-width: 85%;
}
.first__button {
  margin-top: 25px;
}
.first__photo {
  width: 60%;
  max-width: 470px;
  min-width: 330px;
}
.first__images {
  position: relative;
}
.first__images > img:first-child {
  width: 100%;
}
.first__logo {
  position: absolute;
  top: 20%;
  left: 0;
  width: 34%;
  max-width: 155px;
  z-index: -1;
}
.first__dots {
  position: absolute;
  right: 12px;
  top: 58%;
  width: 18.4%;
  max-width: 84px;
}
.first__text {
  min-width: 87%;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin: 0 auto;
  border: #fff solid 1px;
  padding: 12px 20px;
  display: flex;
  align-items: center;
  color: rgba(255, 255, 255, 0.8);
  font-weight: 600;
  font-size: 16px;
}
.first__text span {
  color: #fff;
  padding-left: 12px;
}
.first__text::before {
  content: "";
  min-width: 16px;
  min-height: 16px;
  display: inline-block;
  background: #C778DD;
  margin-right: 10px;
}
@media (max-width: 900px) {
  .first__info {
    margin: 30px 0 0 0;
  }
  .first__paragraf {
    margin-top: 20px;
  }
}
@media (max-width: 767px) {
  .first {
    margin-top: 34px;
  }
  .first > .container {
    flex-direction: column;
  }
  .first__info {
    width: 100%;
  }
  .first__photo {
    width: 100%;
  }
  .first__header {
    margin: 0;
  }
  .first__paragraf {
    margin-top: 25px;
    max-width: 100%;
  }
  .first__photo {
    margin-top: 24px;
    max-width: 100%;
  }
  .first__button {
    display: none;
  }
}

.quote {
  position: relative;
}
.quote__blocks-text {
  display: inline-block;
  margin-top: 112px;
  font-weight: 500;
  font-size: 24px;
  line-height: 31px;
  border: 2px solid #ABB2BF;
  position: relative;
  padding: 32px;
  left: 50%;
  transform: translateX(-50%);
}
.quote__name {
  position: absolute;
  top: 101%;
  right: -2px;
  padding: 16px;
  border: 2px solid #ABB2BF;
}
.quote__cube-decor {
  position: absolute;
  top: 14px;
  right: -9px;
  width: 91px;
  height: 91px;
  border: 2px solid #ABB2BF;
}
@media (max-width: 767px) {
  .quote__blocks-text {
    margin-top: 35px;
    padding: 25px;
  }
  .quote__cube-decor {
    display: none;
  }
}

.projects {
  margin-top: 137px;
  position: relative;
}
.projects__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.projects__view-all {
  margin-left: 20.5%;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  color: #fff;
}
.projects__cards {
  margin-top: 48px;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
}
.projects__cards > * {
  width: 30%;
  min-width: 180px;
  margin-right: 10px;
}
.projects__cards > *:last-child {
  margin: 0;
}
@media (max-width: 430px) {
  .projects__cards > * {
    width: 100%;
    margin: 0;
  }
}
.projects__dots {
  position: absolute;
  top: 60px;
  left: -38px;
}
.projects__cube {
  width: 155px;
  height: 155px;
  border: 1px solid #fff;
  position: absolute;
  top: 250px;
  right: -87px;
}
@media (max-width: 1050px) {
  .projects__cube {
    right: -110px;
  }
}
@media (max-width: 767px) {
  .projects {
    margin-top: 120px;
  }
  .projects__dots {
    display: none;
  }
  .projects__cube {
    display: none;
  }
  .projects__cards {
    margin-top: 35px;
  }
}

.skills {
  margin-top: 100px;
}
.skills__row {
  display: flex;
  justify-content: space-between;
}
.skills__title {
  width: 50%;
}
.skills__logos {
  min-width: 390px;
  position: relative;
}
.skills__dots1 {
  position: absolute;
  top: 92px;
  left: 32px;
  width: 63px;
  height: 63px;
}
.skills__dots2 {
  position: absolute;
  top: 200px;
  left: 200px;
}
.skills__cube {
  width: 52px;
  height: 52px;
  border: 1px solid #fff;
  position: absolute;
  top: 247px;
  right: 0;
}
.skills__big-cube {
  width: 86px;
  height: 86px;
  border: 1px solid #fff;
  position: absolute;
  top: 54px;
  left: 240px;
}
.skills__logo {
  position: absolute;
  top: 223px;
  left: 47px;
  width: 113px;
  height: 113px;
}
.skills__cards {
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: end;
}
@media (max-width: 1050px) {
  .skills__logos {
    display: none;
  }
  .skills__title {
    width: 100%;
  }
  .skills__cards {
    justify-content: center;
  }
}
@media (max-width: 767px) {
  .skills {
    margin-top: 40px;
  }
  .skills__cards {
    margin-top: 25px;
  }
}

.about-me {
  margin-top: 112px;
  position: relative;
}
.about-me > * {
  position: relative;
}
.about-me > article {
  display: flex;
  justify-content: space-between;
}
.about-me__contant {
  width: 50%;
  min-width: 300px;
}
.about-me__paragraf {
  margin: 50px 0 27px 0;
}
.about-me__block-img {
  position: relative;
}
.about-me__image {
  width: 339px;
  height: 507px;
  display: block;
  position: relative;
  height: 100%;
}
.about-me__image::after {
  content: "";
  width: 100%;
  height: 1px;
  display: block;
  position: absolute;
  bottom: -1px;
  left: 0;
  background: #C778DD;
}
.about-me__dots {
  position: absolute;
  width: 84px;
  height: 84px;
  top: 60px;
  left: 0;
}
.about-me__dots-min-h {
  position: absolute;
  top: 280px;
  right: 15px;
  width: 104px;
  height: 56px;
}
.about-me__square {
  position: absolute;
  width: 155px;
  height: 155px;
  top: 134px;
  left: -77px;
  border: 1px solid #ABB2BF;
}
.about-me__dots-bg {
  position: absolute;
  width: 103px;
  height: 103px;
  top: 303px;
  right: -23px;
}
@media (max-width: 1050px) {
  .about-me__dots-bg {
    visibility: hidden;
  }
  .about-me__square {
    left: -90px;
  }
}
@media (max-width: 767px) {
  .about-me {
    margin-top: 40px;
  }
  .about-me__paragraf {
    margin-top: 25px;
  }
  .about-me__square {
    display: none;
  }
  .about-me__dots {
    display: none;
  }
  .about-me__image {
    width: 100%;
  }
  .about-me__dots-min-h {
    display: none;
  }
  .about-me__block-img {
    position: absolute;
    bottom: 0;
    right: 0;
    height: 95%;
  }
  .about-me__contant {
    width: 50%;
  }
}
@media (max-width: 638px) {
  .about-me__block-img {
    display: none;
  }
  .about-me__contant {
    width: 100%;
  }
}

.contacts {
  margin: 112px 0 130px 0;
  height: 230px;
}
.contacts > .container {
  height: 100%;
  display: flex;
  position: relative;
}
.contacts__content {
  width: 50%;
  white-space: normal;
}
.contacts__title {
  padding-right: 30%;
}
.contacts__paragraf {
  margin-top: 45px;
  font-weight: 500;
}
.contacts__block-contact-me {
  position: absolute;
  bottom: 0;
  right: 0;
}
@media (max-width: 767px) {
  .contacts {
    height: 200px;
    margin: 40px 0 30px;
  }
  .contacts__dots-bg {
    display: none;
  }
  .contacts__paragraf {
    margin-top: 25px;
  }
}
@media (max-width: 600px) {
  .contacts {
    height: 320px;
  }
  .contacts__content {
    width: 100%;
  }
  .contacts__title {
    padding: 0;
  }
}