@charset "UTF-8";
/*Обнуление*/
@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

body {
  background: #282C33;
  color: #fff;
  font-family: "Fira Code", sans-serif;
  overflow-x: hidden !important;
}
body::-webkit-scrollbar {
  width: 10px;
  border-radius: 5px;
}
body::-webkit-scrollbar-thumb {
  background: #c778dd;
}
body::-webkit-scrollbar-thumb {
  border-radius: 10px;
}
body::-webkit-scrollbar-track {
  background: none;
}
@media (max-width: 767px) {
  body {
    max-width: 100%;
  }
}

.container {
  max-width: 75%;
  margin: 0 auto;
}
@media (max-width: 767px) {
  .container {
    max-width: 100%;
    margin: 0 25px;
  }
}

.button {
  padding: 8px 16px;
  display: inline-block;
  background: none;
  color: #fff;
  border: #C778DD solid 2px;
  transition: 0.2s;
}
.button:hover {
  background: #C778DD;
}

.logo-name {
  position: relative;
}
.logo-name span {
  position: absolute;
  top: -3px;
  left: 25px;
  font-weight: 700;
  font-size: 24px;
}

.header {
  margin: 32px 0 8px 0;
}
.header > * {
  position: relative;
  display: flex;
  justify-content: space-between;
}
.header .logo-name {
  z-index: 10;
}
.header__open-burger {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__nav ol {
  list-style: none;
  display: flex;
}
.header__link {
  margin-left: 40px;
  font-weight: 500;
  font-size: 16px;
}
.header__link a {
  color: #ABB2BF;
  transition: 0.1s;
}
.header__link:hover a {
  color: rgba(255, 255, 255, 0.8);
}
.header__burger {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 10;
  width: 30px;
  height: 20px;
  display: none;
  flex-direction: column;
  justify-content: space-between;
}
.header__burger span {
  width: 100%;
  height: 1px;
  background: #fff;
  transition: 0.2s;
}
.header__burger.active {
  position: fixed;
  top: 31px;
  right: 24px;
}
.header__burger.active span:first-child {
  position: relative;
  top: 9.5px;
  transform: rotate(45deg);
}
.header__burger.active span:nth-child(2) {
  display: none;
}
.header__burger.active span:last-child {
  position: relative;
  bottom: 9.5px;
  transform: rotate(-45deg);
}
.header__social-links {
  display: none;
  position: absolute;
  bottom: 36px;
  left: 50%;
  transform: translateX(-50%);
  align-items: center;
  justify-content: space-between;
  height: 50px;
}
.header__social-links a, .header__social-links img {
  height: 100%;
}
.header__burger-link {
  margin: 0 10px;
}
.header__burger-link:first-child img {
  transform: scale(1.45);
}
@media (max-width: 767px) {
  .header__burger {
    display: flex;
  }
  .header__open-burger {
    position: fixed;
    top: 0;
    left: 100%;
    z-index: 5;
    background: rgba(40, 44, 51, 0.9);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    transition: 0.2s;
  }
  .header__open-burger .logo-name {
    position: absolute;
    top: 32px;
    left: 25px;
  }
  .header__open-burger nav.header__nav {
    display: block;
    position: absolute;
    top: 17%;
    left: 20px;
  }
  .header__open-burger nav.header__nav ol {
    flex-direction: column;
  }
  .header__open-burger nav.header__nav li {
    margin: 0 0 32px 0;
    font-size: 32px;
  }
  .header__open-burger .header__social-links {
    display: flex;
  }
  .header__nav {
    display: none;
  }
  .header__open-burger.active {
    left: 0;
  }
}

.hashtag::before {
  content: "#";
  color: #C778DD;
}

.slash::before {
  content: "/";
  color: #C778DD;
}

.title {
  display: flex;
  align-items: center;
  width: 100%;
  font-weight: 500;
  white-space: pre;
  font-size: 32px;
  line-height: 42px;
}

.title_line::after {
  content: "";
  display: block;
  margin-left: 20px;
  width: 100%;
  height: 1px;
  background: #C778DD;
}

.paragraf {
  font-size: 16px;
  line-height: 21px;
  color: #ABB2BF;
}
.paragraf > span {
  display: inline-block;
  margin-bottom: 20px;
}
.paragraf > span:last-child {
  margin: 0;
}

.card {
  width: 32.333%;
  min-width: 180px;
  margin-right: 1%;
  margin-top: 10px;
}
.card > * {
  border: 1px solid #ABB2BF;
}
.card__img {
  width: 100%;
}
.card__hard-skills {
  width: 100%;
  position: relative;
  top: -1px;
  padding: 0 16px;
  color: #ABB2BF;
  line-height: 35px;
}
.card__info {
  position: relative;
  top: -2px;
  padding: 16px;
}
.card__title {
  font-weight: 500;
  font-size: 24px;
  line-height: 31px;
}
.card__description {
  display: block;
  font-size: 16px;
  line-height: 21px;
  color: #ABB2BF;
  margin: 16px 0;
}
.card__button::after {
  content: " <~>";
}

.card-skill {
  width: 180px;
  border: 1px solid #ABB2BF;
  margin: 8px;
}
.card-skill__title {
  padding: 8px;
  position: relative;
  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
}
.card-skill__title::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  position: absolute;
  bottom: 0;
  left: 0;
  background: #ABB2BF;
}
.card-skill__card-info {
  display: flex;
  align-items: center;
  padding: 0 8px;
  line-height: 25px;
  font-size: 16px;
  color: #ABB2BF;
}

.block-img {
  position: relative;
}
.block-img__image {
  width: 339px;
  height: 100%;
  display: block;
  position: relative;
}
.block-img__image::after {
  content: "";
  width: 100%;
  height: 1px;
  display: block;
  position: absolute;
  bottom: -1px;
  left: 0;
  background: #C778DD;
}
.block-img__dots {
  position: absolute;
  width: 84px;
  height: 84px;
  top: 60px;
  left: 0;
}
.block-img__dots-min-h {
  position: absolute;
  top: 280px;
  right: 15px;
  width: 104px;
  height: 56px;
}

.block-contact-me {
  border: 1px solid #ABB2BF;
  padding: 16px;
}
.block-contact-me__header {
  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
  color: #fff;
  margin-bottom: 16px;
}
.block-contact-me img {
  margin-right: 5px;
}
.block-contact-me__telegram {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
  font-size: 16px;
  line-height: 21px;
  color: #ABB2BF;
}
.block-contact-me__telegram img {
  margin: 0 10px 0 5px;
  width: 20px;
  height: 20px;
  fill: #ABB2BF;
}
.block-contact-me__telegram:hover {
  color: #fff;
}
.block-contact-me__email {
  display: flex;
  align-items: center;
  font-size: 16px;
  line-height: 21px;
  color: #ABB2BF;
}
.block-contact-me__email:hover {
  color: #fff;
}

.footer {
  padding: 32px 0;
  position: relative;
}
.footer__top {
  display: flex;
  justify-content: space-between;
  position: relative;
  margin-bottom: 50px;
}
.footer__content {
  width: 50%;
}
.footer__logo-name {
  display: flex;
  align-items: center;
}
.footer__email {
  margin-left: 100px;
  transition: 0.2s;
}
.footer__email:hover {
  color: #fff;
}
.footer__paragraf {
  margin-top: 16px;
}
.footer__media {
  font-weight: 500;
  font-size: 24px;
  line-height: 31px;
  color: #fff;
}
.footer__social-links {
  margin-top: 12px;
}
.footer__link:hover {
  fill: #fff;
}
.footer__link:first-child img {
  width: 32px;
}
.footer__link:nth-child(2) img {
  width: 20px;
  position: relative;
  top: 6px;
}
.footer__link:nth-child(3) img {
  width: 22px;
  position: relative;
  top: 4.5px;
  left: 6px;
}
.footer__copywrite {
  text-align: center;
}
.footer::before {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  position: absolute;
  top: 0;
  left: 0;
  background: #ABB2BF;
}
@media (max-width: 767px) {
  .footer {
    padding: 20px 0;
  }
  .footer__top {
    margin-bottom: 30px;
  }
}
@media (max-width: 490px) {
  .footer__top {
    flex-direction: column;
  }
  .footer__media {
    align-self: flex-end;
  }
}

.aside {
  position: fixed;
  top: 0px;
  left: 1.5%;
}
.aside__link {
  display: block;
  margin-bottom: 5px;
}
.aside__link:first-child img {
  width: 32px;
}
.aside__link:nth-child(2) img {
  width: 20px;
  position: relative;
  left: 5px;
  top: 1px;
}
.aside__link:nth-child(3) img {
  width: 22px;
  position: relative;
  top: 7px;
  left: 4px;
}
.aside::before {
  content: "";
  display: block;
  margin: 0 0 10px 50%;
  transform: translateX(-50%);
  width: 1px;
  height: 190px;
  background: #ABB2BF;
}
@media (max-width: 767px) {
  .aside {
    display: none;
  }
}

.title-padges {
  margin: 50px 0 100px;
}
.title-padges__paragraf {
  margin-top: 15px;
}
@media (max-width: 767px) {
  .title-padges {
    margin: 50px 0 70px;
  }
}