.header__link:nth-child(2) a {
  color: #fff;
}

.main {
  position: relative;
}
.main__cards {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
}
@media (max-width: 767px) {
  .main__cards {
    justify-content: center;
    margin-top: 25px;
  }
}
.main__square {
  position: absolute;
  width: 155px;
  height: 155px;
  border: 1px solid #ABB2BF;
}
.main__square_1 {
  right: -87px;
  top: 136px;
}
.main__square_2 {
  left: -77px;
  top: 1100px;
}
.main__dots-min-h {
  position: absolute;
  width: 116px;
  height: 51px;
  top: 280px;
  left: -38px;
}
.main__dots {
  position: absolute;
  width: 100px;
  height: 100px;
}
.main__dots_1 {
  top: 1300px;
  right: -23px;
}
.main__dots_2 {
  top: 1720px;
  left: -51px;
}
@media (max-width: 767px) {
  .main__square, .main__dots, .main__dots-min-h {
    display: none;
  }
}

.complete-apps {
  margin-bottom: 80px;
}
@media (max-width: 767px) {
  .complete-apps {
    margin-bottom: 50px;
  }
}

.small-projects {
  margin-bottom: 170px;
}
@media (max-width: 767px) {
  .small-projects {
    margin-bottom: 100px;
  }
}